page-result {
    .low-num{
        background-color: #0cd1e8
    }
    .low-middle-num{
        background-color: #10dc60
    }
    .middle-num{
        background-color: #4286f4
    }
    .high-num{
        background-color: #7044ff
    }
    .very-high-num{
        background-color: #f04141
    }
}
