page-tinder-remove-card-mode {
  sc-card {
    height: 550px !important ;
    width: 351px !important ;
  }
  .dominion-card-img {
    width: 351px;
    height: 555px;
  }
  .card-img {
    text-align: center;
  }
  .flexbox{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: stretch;
    align-items: stretch;
    text-align: center;
  }
}
